<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Real Estate Stack Store</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
<!--     <link rel="stylesheet" type="text/css" href="/style.css" /> -->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href="/css/custom.css" rel="stylesheet">


    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700%7COxygen:400,700%7COpen+Sans%7CPT+Sans%7CPT+Sans+Narrow%7CDamion' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>

    <!-- stylesheets from real estate -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/settings.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/real-estate.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/fix.css" rel="stylesheet">
    <link href="/css/skin.less" rel="stylesheet/less">


    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <!--Wrapper Section Start Here -->
    <div id="wrapper">

    <navbar></navbar>
    <div id="main" ui-view></div>

    <a href="javascript:;" class="scroll-top"> <i class="fa fa-long-arrow-up"></i> </a> </div>
    <!--Wrapper Section End Here -->



    <!-- flexslider Js -->
    <script src="/js/jquery.flexslider.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <!-- revolution Js -->
    <script type="text/javascript" src="/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/js/jquery.revolution.js"></script>
    <!-- revolution Js -->
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/site.js"></script>

</body>
</html>
