<!-- <nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-static-top">
  <!--header Section Start Here -->
  <header id="header">

    <!--headerBox Start Here -->
    <div class="header">
          <div class="container-fluid">
            <div class="row">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 top">
                    <!-- <a href="../Corporate/index.html" class="logo"><img src="../assets/img/logo.png" alt="" /></a> -->
                    <section class="menu-wrap">
                      <ul class="nav">
                        <li class="menu-sec-parent">
                          <a href="#">Home</a>
                          <div class="menu-container menu-big">
                            <div class="menu-type-2 menu-type-5 big-menu-wrap style-menu ">
                              <section class="link-section-wrapper clearfix">
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../Corporate/index.html" data-background="../assets/img/corporate.png"  >Corporate</a>
                                    </li>
                                    <li>
                                      <a href="../Education/education.html" data-background="../assets/img/education.png">Education</a>
                                    </li>
                                    <li>
                                      <a href="../Wedding/wedding.html" data-background="../assets/img/wedding.png"> Wedding</a>
                                    </li>
                                    <li>
                                      <a href="../FoodDelivery/food-delivery.html" data-background="../assets/img/food-deliver.png">Food Delivery</a>
                                    </li>
                                    <li>
                                      <a href="../Medical/medical.html"  data-background="../assets/img/medical.png">Medical</a>
                                    </li>
                                    <li>
                                      <a href="../church/church.html" data-background="../assets/img/church.png">Church</a>
                                    </li>

                                    <li>
                                      <a href="../Logistics/logistic.html" data-background="../assets/img/logistic.png">Logistic</a>
                                    </li>

                                    <li>
                                      <a href="../Restaurant/restaurant.html" data-background="../assets/img/resturant.png"> restaurant</a>
                                    </li>

                                    <li>
                                      <a href="../taxi/taxi.html" data-background="../assets/img/taxi.png"> Taxi </a>
                                    </li>

                                    <li>
                                      <a href="../Lawyers/lawyer.html" data-background="../assets/img/lawyer.png">Lawyer</a>
                                    </li>
                                    <li>
                                      <a href="../Realestate/real-estate.html" data-background="../assets/img/real-estate.png">Real Estate</a>
                                    </li>

                                  </ul>
                                </div>
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../Mechanic/mechanic.html" data-background="../assets/img/mechanic.png">Mechanic</a>
                                    </li>
                                    <li>
                                      <a href="../Hotel/hotel.html" data-background="../assets/img/hotel.png">Hotel</a>
                                    </li>

                                    <li>
                                      <a href="../Beauty/beauty.html" data-background="../assets/img/beauty.png">Beauty</a>
                                    </li>
                                    <li>
                                      <a href="../sport/sport-team.html" data-background="../assets/img/sports.png">Sport Team</a>
                                    </li>
                                    <li>
                                      <a href="../MusicBand/music-band.html" data-background="../assets/img/music.png">Music Band</a>
                                    </li>
                                    <li>
                                      <a href="../Cooking/cooking.html" data-background="../assets/img/cooking.png">Cooking</a>
                                    </li>

                                    <li>
                                      <a href="../AutoDealer/autodealer.html" data-background="../assets/img/auto-dealer.png"> AutoDealer </a>
                                    </li>

                                    <li>
                                      <a href="../eCommerce/ecommerce.html" data-background="../assets/img/e-commerce.png"> Ecommerce </a>
                                    </li>
                                    <li>
                                      <a href="../Petshop/petshop.html" data-background="../assets/img/pet-shop.png"> Pet Shop </a>
                                    </li>
                                    <li>
                                      <a href="../Blog/blog.html" data-background="../assets/img/blog.png"> Blog </a>
                                    </li>
                                    <li>
                                      <a href="../Portfolio/portfolio-1.html" data-background="../assets/img/portfolio.png"> Portfolio </a>
                                    </li>

                                  </ul>
                                </div>
                              </section>
                            </div>

                            <figure class="theme-overview">
                              <div class="theme-img-wrapper">
                                <img src="../assets/img/corporate.png" alt=""/>
                              </div>
                            </figure>

                          </div>
                        </li>
                        <li>
                          <a href="../features.html">Features</a>
                        </li>
                        <li>
                          <a href="#">Headers</a>
                          <div class="flyout-menu menu-type-1 menu-container">
                            <ul class="page-menu">
                              <li>
                                <a href="../header-1.html">header-1</a>
                              </li>
                              <li>
                                <a href="../header-2.html">header-2</a>
                              </li>

                            </ul>
                          </div>
                        </li>
                        <li>
                          <a href="#">Shortcodes</a>
                          <div class="flyout-menu menu-type-1 menu-container">
                            <ul class="page-menu">
                              <li>
                                <a href="../shortcode-1.html">shortcode-1</a>
                              </li>
                              <li>
                                <a href="../shortcode-2.html">shortcode-2</a>
                              </li>
                              <li>
                                <a href="../shortcode-3.html">shortcode-3</a>
                              </li>
                            </ul>
                          </div>
                        </li>
                        <li class="menu-sec-parent">
                          <a href="#">Pages</a>
                          <div class="menu-container">
                            <div class="menu-type-2 menu-type-5  style-menu ">
                              <section class="link-section-wrapper clearfix">
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../about.html">about</a>
                                    </li>
                                    <li>
                                      <a href="../career.html">career</a>
                                    </li>
                                    <li>
                                      <a href="../coming-soon.html">coming-soon</a>
                                    </li>
                                    <li>
                                      <a href="../contact.html">contact</a>
                                    </li>
                                    <li>
                                      <a href="../help-center.html">help-center</a>
                                    </li>
                                    <li>
                                      <a href="../how-it-works.html">how-it-works</a>
                                    </li>
                                    <li>
                                      <a href="../job-detail-1.html">job-detail-1</a>
                                    </li>
                                    <li>
                                      <a href="../job-detail-2.html">job-detail-2</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="link-section">
                                  <ul>

                                    <li>
                                      <a href="../job-detail-3.html">job-detail-3</a>
                                    </li>
                                    <li>
                                      <a href="../job-detail-4.html">job-detail-4</a>
                                    </li>
                                    <li>
                                      <a href="../job-detail-5.html">job-detail-5</a>
                                    </li>
                                    <li>
                                      <a href="../loop-contents.html">loop-contents</a>
                                    </li>
                                    <li>
                                      <a href="../menu.html">menu</a>
                                    </li>
                                    <li>
                                      <a href="../forums.html">forums</a>
                                    </li>
                                    <li>
                                      <a href="../our-teams.html">our-teams</a>
                                    </li>
                                    <li>
                                      <a href="../press.html">press</a>
                                    </li>

                                  </ul>
                                </div>
                                <div class="link-section">
                                  <ul>
                                                                       <li>
                                      <a href="../pricing.html">pricing</a>
                                    </li>
                                    <li>
                                      <a href="../404-error.html">404-error</a>
                                    </li>
                                    <li>
                                      <a href="../church/church-one.html">Church One</a>
                                    </li>
                                    <li>
                                      <a href="../FoodDelivery/food-delivery-two.html" >Food Delivery Two</a>
                                    </li>
                                    <li>
                                      <a href="../FoodDelivery/food-delivery-three.html">Food Delivery Three</a>
                                    </li>
                                    <li>
                                      <a href="../Medical/medical-two.html">Medical Two</a>
                                    </li>
                                    <li>
                                      <a href="../Medical/medical-three.html">Medical Three</a>
                                    </li>
                                    <li>
                                      <a href="../Realestate/real-estate-two.html">Real Estate Two</a>
                                    </li>


                                  </ul>
                                </div>
                                <div class="link-section">
                                  <ul>
                                                                       <li>
                                      <a href="../Logistics/logistic-two.html">Logistic Two</a>
                                    </li>
                                    <li>
                                      <a href="../taxi/taxi-two.html"> Taxi Two </a>
                                    </li>
                                    <li>
                                      <a href="../Hotel/hotel-two.html" >Hotel Two</a>
                                    </li>
                                    <li>
                                      <a href="../Hotel/hotel-three.html">Hotel Three</a>
                                    </li>
                                    <li>
                                      <a href="../AutoDealer/autodealer-two.html" > AutoDealer Two </a>
                                    </li>
                                    <li>
                                      <a href="../AutoDealer/autodealer-three.html"> AutoDealer Three </a>
                                    </li>
                                    <li>
                                      <a href="../Portfolio/portfolio-2.html"> Portfolio Two </a>
                                    </li>

                                    <li>
                                      <a href="../Cooking/cooking-two.html">Cooking Two</a>
                                    </li>
                                  </ul>
                                </div>
                              </section>
                            </div>
                          </div>
                        </li>
                        <li class="menu-sec-parent">
                          <a href="#">Blog</a>
                          <div class="menu-container">
                            <div class="menu-type-2 menu-type-5  style-menu ">
                              <section class="link-section-wrapper clearfix">
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../blog-1.html">blog-1</a>
                                    </li>
                                    <li>
                                      <a href="../blog-2.html">blog-2</a>
                                    </li>
                                    <li>
                                      <a href="../blog-3.html">blog-3</a>
                                    </li>
                                    <li>
                                      <a href="../blog-4.html">blog-4</a>
                                    </li>
                                    <li>
                                      <a href="../blog-5.html">blog-5</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../blog-6.html">blog-6</a>
                                    </li>
                                    <li>
                                      <a href="../blog-7.html">blog-7</a>
                                    </li>
                                    <li>
                                      <a href="../blog-8.html">blog-8</a>
                                    </li>
                                    <li>
                                      <a href="../blog-9.html">blog-9</a>
                                    </li>
                                    <li>
                                      <a href="../blog-10.html">blog-10</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../blog-11.html">blog-11</a>
                                    </li>
                                    <li>
                                      <a href="../blog-12.html">blog-12</a>
                                    </li>
                                    <li>
                                      <a href="../blog-13.html">blog-13</a>
                                    </li>
                                    <li>
                                      <a href="../blog-14.html">blog-14</a>
                                    </li>
                                    <li>
                                      <a href="../blog-15.html">blog-15</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../blog-post-1.html">blog-post-1</a>
                                    </li>
                                    <li>
                                      <a href="../blog-post-2.html">blog-post-2</a>
                                    </li>
                                    <li>
                                      <a href="../blog-post-3.html">blog-post-3</a>
                                    </li>
                                    <li>
                                      <a href="../blog-post-4.html">blog-post-4</a>
                                    </li>
                                    <li>
                                      <a href="../blog-post-5.html">blog-post-5</a>
                                    </li>
                                  </ul>
                                </div>
                              </section>
                            </div>
                          </div>
                        </li>
                        <li class="menu-sec-parent">
                          <a href="#">Portfolio</a>
                          <div class="menu-container">
                            <div class="menu-type-2 menu-type-5  style-menu ">
                              <section class="link-section-wrapper clearfix">
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../gallery-1.html">gallery-1</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-2.html">gallery-2</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-3.html">gallery-3</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-4.html">gallery-4</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-5.html">gallery-5</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../gallery-6.html">gallery-6</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-7.html">gallery-7</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-8.html">gallery-8</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-9.html">gallery-9</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-10.html">gallery-10</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../gallery-11.html">gallery-11</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-12.html">gallery-12</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-13.html">gallery-13</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-14.html">gallery-14</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-15.html">gallery-15</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="link-section">
                                  <ul>
                                    <li>
                                      <a href="../gallery-16.html">gallery-16</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-17.html">gallery-17</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-18.html">gallery-18</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-19.html">gallery-19</a>
                                    </li>
                                    <li>
                                      <a href="../gallery-20.html">gallery-20</a>
                                    </li>
                                  </ul>
                                </div>
                              </section>
                            </div>
                          </div>
                        </li>
                        <li>
                          <a href="#">Shop</a>
                          <div class="flyout-menu menu-type-1 menu-container">
                            <ul class="page-menu">
                              <li>
                                <a href="../cart.html">cart.html</a>
                              </li>
                              <li>
                                <a href="../catalog.html">catalog.html</a>
                              </li>
                              <li>
                                <a href="../shopping-product.html">shopping-product.html</a>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <div class="header-widget">
                        <button class="glyphicon glyphicon-search search">
                          &nbsp;
                        </button>
                        <div class="header-search-box">
                          <input type="text" />
                        </div>
                        <div class="navbar-header visible-xs">
                          <button type="button" class="navbar-toggle">
                            <span class="icon-bar">&nbsp;</span><span class="icon-bar">&nbsp;</span><span class="icon-bar">&nbsp;</span>
                          </button>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <!--headerCntr End Here -->
  </header>
  <!--header Section End Here -->
</nav>