<!--content Section Start Here -->
<div id="content" class="margin-bottom">
  <div class="container your-cart padding-bottom">

    <!--Content Header -->
    <header class="content-header row ">
      <div class="heading col-md-8 col-sm-6 col-xs-12">
        <h1>Your Orders</h1>
      </div>
      <ul class="col-md-4 col-sm-6 col-xs-12 breadcrumb ">
        <li> <a ui-sref="home">Main Page</a> </li>
        <li class="active"> Your Orders </li>
      </ul>
    </header>
    <!--Content Header -->

    <section class="cart-section">
      <div class="cart-table-wrapper">
        <table class="table cart-table">
          <tr>
            <th class="product-cell"><span class="h3">Order Number</span></th>
            <th class="price-cell"><span class="h3">Date</span></th>
            <th class="total-cell" ><span class="h3">Total</span></th>
          </tr>
          <tr ng-repeat="order in orders">
            <td > <img src="/img/cart-img-1.jpg" alt="" /> <a ui-sref="order({id: '{{order.id}}'})" class="saved-product"> {{order.convertId}} </a></td>
            <td>{{order.convertDate}}</td>
            <td><span class="cart-total">$59.95<a href="#" class="fa fa-close"></a> </span></td>
          </tr>
        </table>
      </div>
    </section>
  </div>
</div>
<!--content Section End Here -->
