#logo {
  height: auto;
  width: auto;
  margin-left: 3%;
  max-height: 80px;
  max-width: 24%
}

.navlinks {
  margin-left: 60px;
}

#my-container.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.menu-wrap {
  padding-top: 1% !important;
  padding-bottom: 0.5% !important;
}

.login-signup {
  margin-top: 70px;
  margin-bottom: 50px;
}

.login-signup #submitbtn {
  margin-top: 33px;
}

#oauthbtn {
  background-color: #ABDCFF;
  width: 216px;
}

#add-cart {
  float:right;
}

.pointer {
  cursor: pointer;
}

.wordsForParallax{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#reviews-button {
  width: 173px;
  display: inline-block;
}

#footer {
  margin-top: 20px;
}

.tab {
  margin-right: 10px;
  margin-bottom: 20px;
}

.tab-button {
  margin-top: 30px;
  width: auto;
  display: inline-block !important;
}

.listBuildingImg {
  width: 150px;
}

.red-text {
  color: red;
}

.button-center {
  margin-left: auto;
  margin-right: auto;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*star rating css*/

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: #69c1ff;
}

/*end of star rating css*/


.position-fixed {
  position: fixed;
}