#logo {
  height: auto;
  width: auto;
  max-height: 60px;
}

.login-signup {
  margin-top: 70px;
  margin-bottom: 50px;
}

.login-signup #submitbtn {
  margin-top: 33px;
}

#oauthbtn {
  background-color: #ABDCFF;
  width: 216px;
}

#add-cart {
  float:right;
}

.pointer {
  cursor: pointer;
}

#cart-box {
  position: fixed;
  width: 287px;
}

#reviews-button {
  width: 173px;
  display: inline-block;
}

#footer {
  margin-top: 20px;
}

.tab {
  margin-right: 10px;
  margin-bottom: 20px;
}

.cartBuildingImg {
  width: 150px;
}