<div class="login-signup">

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-4">
            <h1 class="text-center"><strong>Reset Your Password</strong></h1>
        </div>
    </div>

    <br>

    <div id="login-form" class="row">
        <div class="col-sm-3"></div>
         <div class="col-sm-4">
            <form name="passwordResetForm" ng-submit="resetPassword(login)">

                <div class="form-group">
                    <label for="email">Email</label>
                    <span class="red-text">*</span>
                    <input type="email" ng-model="login.email" class="form-control" id="email" placeholder="Enter your current email" required>
                </div>

                <div class="form-group">
                    <label for="email">New Password</label>
                    <span class="red-text">*</span>
                    <input type="password" ng-model="login.name" class="form-control" id="password" placeholder="Enter a new password" required>
                </div>

                <span class="red-text">*</span><span> = required field</span>

                <button ng-disabled="passwordResetForm.$invalid" type="submit" class="btn btn-default" id="submitbtn">Submit</button>

            </form>
        </div>
    </div>

</div>
