<div class="homepage-12">
  <!-- about-us  -->
  <section class="about-us wishes-section">
  <h2>Reviews ({{reviews.length}}) </h2>
    <div class="container" ng-repeat="review in reviews">
      <div class="row">
        <div class="col-xs-12">
          <div class="wisher-intro">
            <div class="wisher-photo">
              <figure> <img src="/img/wisher-photo-1.jpg" alt="" /> </figure>
            </div>
            <div class="wisher-name">
              <h3>{{review.user.name}}</h3>
              <span class="rating-star" ng-repeat="star in getTimes(review.numOfStars) track by $index"> <div class="rating"> <a href="#"><i class="fa fa-star active "></i> </div> </span>
              <span>chicago</span> </div>
          </div>
          <div class="wish">
            <p> {{review.review}} </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
