<div class="homepage-12">
  <!-- about-us  -->
  <section class="about-us wishes-section">
    <div class="container">
      <h2>Reviews (3) </h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="wisher-intro">
            <div class="wisher-photo">
              <figure> <img src="/img/wisher-photo-1.jpg" alt="" /> </figure>
            </div>
            <div class="wisher-name">
              <h3>Anna Washington</h3>
              <div class="rating-star"> <span class="rating"> <a href="#"><i class="fa fa-star active"></i></a> <a href="#"><i class="fa fa-star active "></i></a> <a href="#"><i class="fa fa-star active "></i></a> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star"></i></a> </span> </div>
              <span>chicago</span> </div>
          </div>
          <div class="wish">
            <p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh  euismod tincidunt ut laoreet dolore magna aliquam erat volutpat euismod tincidunt ut laoreet dolore magna aliquam erat volutpat euismod tincidunt ut laoreet dolore magna consectetuer adipiscing elit, sed diam nonummy nibh  euismod tincidunt ut laoreet dolore magna aliquam.” </p>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="wisher-intro">
            <div class="wisher-photo">
              <figure> <img src="/img/wisher-photo-2.jpg" alt="" /> </figure>
            </div>
            <div class="wisher-name">
              <h3>Tim &amp; Samantha</h3>
              <div class="rating-star"> <span class="rating"> <a href="#"><i class="fa fa-star active"></i></a> <a href="#"><i class="fa fa-star active "></i></a> <a href="#"><i class="fa fa-star active "></i></a> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star"></i></a> </span> </div>
              <span>Florida</span> </div>
          </div>
          <div class="wish">
            <p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh  euismod tincidunt ut laoreet dolore magna aliquam erat volutpat euismod tincidunt ut laoreet dolore magna aliquam erat volutpat euismod tincidunt ut laoreet dolore magna consectetuer adipiscing elit, sed diam nonummy nibh  euismod tincidunt ut laoreet dolore magna aliquam.” </p>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="wisher-intro">
            <div class="wisher-photo">
              <figure> <img src="/img/wisher-photo-3.jpg" alt="" /> </figure>
            </div>
            <div class="wisher-name">
              <h3>Christopher Taw</h3>
              <div class="rating-star"> <span class="rating"> <a href="#"><i class="fa fa-star active"></i></a> <a href="#"><i class="fa fa-star active "></i></a> <a href="#"><i class="fa fa-star active "></i></a> <a href="#"><i class="fa fa-star"></i></a> <a href="#"><i class="fa fa-star"></i></a> </span> </div>
              <span>New Orlean</span> </div>
          </div>
          <div class="wish">
            <p> “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh  euismod tincidunt ut laoreet dolore magna aliquam erat volutpat euismod tincidunt ut laoreet dolore magna aliquam erat volutpat euismod tincidunt ut laoreet dolore magna consectetuer adipiscing elit, sed diam nonummy nibh  euismod tincidunt ut laoreet dolore magna aliquam.” </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
