<div class="login-signup">

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-4">
            <h1 class="text-center">Checkout</h1>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-3"></div>
         <div class="col-sm-4">
            <button class="btn btn-default" ng-click="openStripe()">Enter Card Info</button>
            <form name="checkoutForm" ng-submit="sendCheckout(credentials)">
                <br><br>
                <span>Shipping Address (for your deed):</span>
                <div class="form-group">
                    <label for="name" >Full Name</label><span class="red-text">*</span>
                    <input type="text" ng-model="credentials.name" class="form-control" placeholder="Enter first, middle, last name" required>
                </div>
                <div class="form-group">
                    <label for="address1" >Address line 1</label><span class="red-text">*</span>
                    <input type="text" ng-model="credentials.address1" class="form-control" placeholder="Street address, P.O. box, company name, c/o">
                </div>
                <div class="form-group">
                    <label for="address2" >Address line 2</label>
                    <input type="text" ng-model="credentials.address2" class="form-control" placeholder="Apartment, suite, unit, building, floor, etc.">
                </div>
                <div class="form-group">
                    <label for="city" >City</label><span class="red-text">*</span>
                    <input type="text" ng-model="credentials.city" class="form-control" placeholder="Enter City" required>
                </div>
                <div class="form-group">
                    <label for="state" >State</label><span class="red-text">*</span>
                    <input type="text" ng-model="credentials.state" class="form-control" placeholder="Enter State" required>
                </div>
                <div class="form-group">
                    <label for="zip" >Zip Code</label><span class="red-text">*</span>
                    <input type="text" ng-model="credentials.zipCode" class="form-control" placeholder="Enter Zip" required>
                </div>

                <span class="red-text">*</span><span> = required field</span>

                <alert type="danger" ng-show="error">
                    {{ error }}
                </alert>

                <button type="submit" class="btn btn-default" id="submitbtn" ng-disabled="checkoutForm.$invalid">Purchase buildings</button>

            </form>
        </div>
    </div>

</div>
