<div class="homepage-22-three">
  <!-- Leave Review -->
  <section class="leave-review">
    <h2>Leave a Review </h2>
    <div class="review-form ">
      <form class="form-inline clearfix" ng-submit="sendReview(newReview)">
        <div class="row">

           <div class="col-xs-12 col-sm-12">
            <div class="form-group">
              <label class="sr-only" for="exampleInputname">Headline for review</label>
              <input type="text" ng-model="newReview.headline" class="form-control" id="exampleInputname" placeholder="Headline for Review" required="required">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label class="sr-only" for="exampleInputname">Name</label>
              <input type="text" ng-model="newReview.name" class="form-control" id="exampleInputname" placeholder="Name" required="required">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">E-mail (required)</label>
              <input type="email" ng-model="newReview.email" class="form-control" id="exampleInputEmail3" placeholder="E-mail" required="required">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <div class="form-group"> <span class="your-rate">Your Rating: </span> <starRating ng-model="newReview.numOfStars">
            <div ng-controller="newReviewCtrl"> <span ng-repeat="rating in ratings">{{rating.current}} out of
            {{rating.max}}
            <div star-rating rating-value="rating.current"  max="rating.max" on-rating-selected="getSelectedRating(rating||3)"></div>
             </span>
    </div>
</starRating></div>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="form-group ">
              <label class="sr-only" for="exampleInputEmail3">Message</label>
              <textarea  ng-model="newReview.review" class="form-control" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="review-butt">
              <button type="submit" class="btn btn-default btn-effect" id="reviews-button"> submit review</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- Leave Review -->
</div>
